/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.carousel-caption{
    align-items: center;
    margin-bottom: 150px;
}

.carousel-caption h2{
    font-size: 40px;
}

.carousel-caption a{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #289BDE;
}

.carousel-item{
    filter: brightness(75%);
}

.head{
    text-align: center;
}

.head h2{
    font-weight: 600;
    font-size: 40px;
}

.head p{
    font-size: 18px;
}

.feedback{
    text-align: center;
}

.fa-star {
    color: #FBBF24;
}

.faq{
    text-align: center;
}

.company h2{
    text-align: center;
}

footer{
    background-color: black;
}
/* 
@media only screen and(max-width: 768px;){
    .company{
        display: none;
        background-color: white;
    }    
} */